#quote{
    width:400px;
    }
    #author{
        width: 250px;
    }
    #personSubmitted{
        width: 250px;
    }
    .cd{
    
        vertical-align: middle;
    }
    .ddd{
        width: 150px;
    }
    .bgbg{
        color: rgb(3, 54, 54);
    }