@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");

h1{
    text-align:center ;
    color:white;
    font-weight: 700;
    font-size: 80px;
    font-style: bold;
    padding-right: 150px;
}
h2{
    color: aqua;
    font-size: 40px;
    text-align: center;
    
 
}

.jumbotron{
    color: beige;
}
#ts{
    color: aqua;
    font-size: 30px;
}
.word{
    font-size: 30px;
    color:white;
    text-align: left;
    font-family: fantasy;
    font-style: italic;
    padding-left: 90px;
    padding-top: 100px;font-weight: 800;

}
.bo{
    background-image: url('https://lh3.googleusercontent.com/proxy/0eNEe7UnQj3HbROfOXmOaXFzqzP1UohN78_SGLofd1QNFwlxNPYRxd6JE9SotTh0iRmwYj8GKNF7C15XywjBnBs-SBcvNVabcYjSjIjonLFdmrfotGMic-iNfqdCtzaqCwOp-X0owbBGYe_xw6KbXH_T');
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    height: 650px;
}
.ca{
    
    width: 700px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color:#b3e6ff;
}
h2{
    color: black;
    font-size: 50px;
    font-style: oblique;
}

