<div class="bo">
    <div class="text-center ttt">
      
      <h1 id="head">QUOTES </h1>
      <p class="word">WELCOME !!!! <br>We Give you an opportunuty to enlighten the world <br> with quotes You have come across <br>or Your own QUOTES!!</p>
     
      <div  id="mg">
        <img src="" class = "img-responsive" alt="" width="650" height="250">
        
    </div>
    </div>
    
    </div>
    <!-- Quotes Section-->
    
    <div class="fi">
      <h2 id="head">Quotes section</h2>
      
      <div class="row body">
        
        
        <div class="col-md-6 container ccc">
          
          <div *ngFor='let quote of quotes;let i=index'>
            
            <div class="card ca" id="{{i}}" appHighlight>
              <h3><span class="by">by</span> {{quote.author}}</h3>
              <p class="pi"> {{quote.quote}}...
              </p>
              <button (click)='toggleDetails(i)' class="btn btn-info toogle" >Show Details</button>
              
              <div class="card-footer pp" *ngIf='quote.PersonSubmitted'>
                <app-quotedetails  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quotedetails>
              </div>
             
            
              
            </div>
      
          </div>
      
        </div>
        <div class="col-md-7 cd" id="quo" >
          <app-formcomponent (addQuote)="addNewQuote($event)"></app-formcomponent>
          
        </div>
       
      </div>
    </div>
    
    
    
    